.better-clock {
    display: block;
    width: 300px;
    border-radius: 8px;
    border: 1px solid black;

    text-align: center;

    &__time {
        color: black;
        font-size: 30px;
    }
}
